@model ManageUsersViewModel;

@{ 
    ViewData["Title"] = "Manage users";
}

<h2>@ViewData["Title"]</h2>

<div asp-validation-summary="All" class="text-danger"></div>

@if (TempData["message"] != null)
{
    if (TempData["message"].ToString() == "Done!")
    {
        <div class="alert alert-success">@TempData["message"]</div>
    }
    else
    {
        <div class="alert alert-danger">@TempData["message"]</div>
    }
}

<h3>Administrators</h3>

<table class="table">
    <thead>
        <tr>
            <td>Id</td>
            <td>Email</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Administrators)
        {
            <tr>
                <td>
                    @user.Id
                    <form  method="post" asp-action="DeleteUser" asp-route-id="@user.Id" style="display:inline-block;">
                        <input type="submit" value="Delete" class="btn btn-danger btn-xs" />
                    </form>
                </td>
                <td>@user.Email</td>
            </tr>
        }
    </tbody>
</table>

<h2>Everyone</h2>

<table class="table">
    <thead>
        <tr>
            <td>Id</td>
            <td>Email</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Everyone)
        {
            <tr>
                <td>
                    @user.Id
                    <form method="post" asp-action="DeleteUser" asp-route-id="@user.Id" style="display:inline-block;">
                        <input type="submit" value="Delete" class="btn btn-danger btn-xs" />
                    </form>
                </td>
                <td>@user.Email</td>
            </tr>
        }
    </tbody>
</table>